@import '../../App.css';

/* #region HEADER */

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-black);
  padding: 0 3% 0 3%;
}

.header-nav p {
  color: var(--color-white);
}

nav img {
  border-radius: 5rem;
  border: 1px solid var(--color-light-red);
  height: 2rem;
  margin-right: 10px;
}

.logout-span {
  color: var(--color-dark-red);
}

.user-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-options p {
  margin-right:1.5rem;
}

/* #endregion */


/* #region SIDEBAR */

/* Closed Sidebar */
.sidebar {
  width: 50px;
  height: 100%; /* Full height of the sidebar */
  background-color: var(--color-dark-red);
  transition: width 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  /* z-index: 100; */
}

.sidebar.open {
  width: 218px;
}

/* Navigation menu styles */
.navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Individual navigation items */
.nav-item {
  color: var(--color-white);
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Style for the active navigation item */
.nav-item.selected {
  background-color: var(--color-light-red);
}

/* Text in the navigation items */
.nav-item span {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  min-width: 0;
}

/* Text when the sidebar is opened */
.sidebar.open .nav-item span {
  opacity: 1;
  visibility: visible;
  min-width: 80px; /* Adjust this value based on your text length */
}

/* Icons in the navigation items when sidebar is open */
.sidebar.open .nav-item .fa-icon {
  margin-right: 10px;
}

/* Styles for when the sidebar is opened */
.sidebar.open .nav-item {
  justify-content: flex-start;
}

/* Styles for when the sidebar is closed */
.sidebar .nav-item {
  justify-content: center;
}

/* Latest Activities section */
.activities-container {
  background-color: var(--color-dark-gray);
  margin-top: 10px;
  overflow-y: auto;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0.3, 0, 0.5);
  display: none;
  margin: 5px;
}

.activities-title {
  font-weight: bold;
  color: var(--color-white);
  padding: 10px;
  margin: 0;
  text-decoration-line: underline;
  text-decoration-color: white;
  text-decoration-style: solid;
  white-space: nowrap;
}

.sidebar.open .activities-container {
  display: block;
}

.activity-list {
  list-style: none;
  margin: 0;
  padding: 0 10px 10px 10px;
}

.activity p {
  margin: 0 0 10px 0;
  color: var(--color-white);
}


/* #endregion */
